@import "../../app/variables.module.scss"; 
.header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     margin: 20px 0;
     border-radius: 10px;
     background-color: $bg-secondary;
     position: -webkit-sticky;
     position: sticky;
     top: 0;
    //  color: $text-secondary-color;

    .first{
        display: flex;
        justify-content: flex-start;
        width: 75%;
       .logo {
          color: $primary-color;
          font-size: 45px;
          height: 46px;
          cursor: pointer;
        }

        .Meno{
            margin-right: 30px;
            display: flex;
            align-items: center;
            width: 50%;
            ul {
            list-style: none;
            display: flex;
            li {
              margin-left: 30px;
              a{
                color: $text-primary-color;
                font-weight: 400;
                &:hover{
                  color: $text-hover-color;
                }
              }
            }
          }
        }

        .SearchInput{
          width: 100%;
          display: flex;
          align-items: center;
          position: relative;
          input{
            width: 100%;
            padding: 5px 15px;
            border : 3px solid $secondary-color-two;
            border-radius: 25px;
            background-color: $bg-primary;
            box-shadow: 0px 0px 5px $primary-color;
            color: $gray-color;
            font-size: 16px;
            text-align: center;
            display: flex;
            align-items: center;
            &:focus{
              outline: none;
              box-shadow: 0px 0px 8px $primary-color;
            }
          }
          button{
            position: absolute;
            left: 18px;
            top: 11px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg{
              color: $secondary-color;
              transform: rotate(90deg);
              font-size: 20px;
           }

          }
         
        }
      }

    .login{
        a {
        display: flex;
        align-items: center;
        background-color: $bg-primary;
        color: $bg-secondary;
        padding: 8px 8px;
        border-radius: 7px;
        border: 2px solid $bg-primary;
        transition: all ease-in 0.3s;
        &:hover {
          background-color: $secondary-color;
          color: $bg-primary;
          border: 2px solid $bg-primary;
        }
      }

      svg {
        font-size: 25px;
      }
  
      span {
        margin-right: 5px;
      }

   }

  } 
   

  @media (max-width : 1200px) {
    .first{
      width: 85% !important;
    }
  }
   
   @media (max-width: 900px) {
     .header{
      display: flex;
      flex-direction: column;
      .first{
        display: flex;
        flex-direction: column;

        .logo{   
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            height: fit-content;
            svg{
              font-size: 70px;
            }
        }

        .Meno{
            margin: 20px;
            width: 100%;
           ul {
            width: 90%;
            display: flex;
            justify-content: space-between;
             li {
              margin-left: 10px;
              }

           }
        }

        .SearchInput{
          button{
            left: 22px;
          }
        }
      }

      .login{
        margin: 20px 0;
      }
    } 
   }