$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(115, 60, 255);
$secondary-color-two: rgb(176, 145, 255);
$gray-color : rgb(222, 222, 222);
$gray-color-two : rgb(137, 134, 134);
$white-color : rgb(255, 255, 255);
$box-shadow-color : #ac3ed7db;
$box-shadow-color-two : #4303cc3d;

$bg-primary:rgb(239, 239, 239);
$bg-secondary:#6a2decd4;
$bg-secondary-two:rgba(255, 255, 255, 0.83);
$bg-secondary-three:rgba(180, 138, 244, 0.83);
$bg-secondary-four:rgb(255, 255, 255);
$bg-secondary-five:rgb(235, 227, 250);
$bg-secondary-six:rgb(239 239 239 / 57%);

$btn-primary-color: rgb(255, 255, 255);
$btn-secondary-color-one: rgb(108, 34, 235);
$btn-secondary-color-one-two: rgba(122, 53, 242, 0.8);

$text-primary-color : rgb(255, 255, 255);
$text-secondary-color : rgb(126, 63, 235);
$text-secondary-color-two : rgb(80, 1, 217);
$text-error : rgb(249, 56, 46);
$text-hover-color : rgb(253 215 251);


:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  secondaryColorTwo: $secondary-color-two;
  textColor: $text-primary-color;
}