    @import "../../app/variables.module.scss";
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        color: #304ffe;
        font-weight: 400;
        font-size: 1.5rem;
        margin: 10px auto;
        box-shadow: 0px -1px 6px 1px $box-shadow-color;
      }
      p {
        color: $secondary-color;
        box-shadow: 0px -1px 6px 1px $box-shadow-color;
        margin: 10px auto;
      }
    }

   .createdAt {
     margin-top: 20px;
     display: flex;
     width: fit-content;
     padding: 5px 10px;
     border: 2px solid $secondary-color;
     border-radius: 5px;
     background-color:$bg-secondary-two ;
     color: $secondary-color;
     box-shadow: 0px -1px 6px 1px $box-shadow-color;
     margin: 10px auto;
    p {
      margin: 0;
      font-weight: 400;
      margin-left: 10px;
      box-shadow: none;
    }
    span {
      color: $secondary-color;
      font-weight: 600;
    }
   }
   