    @import "../../app/variables.module.scss";
    .container{
      h3 {
        color: #304ffe;
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
      p {
        color: $secondary-color;
      }
    }

   .createdAt {
     margin-top: 100px;
     display: flex;
     width: fit-content;
     padding: 5px 10px;
     border: 2px solid $secondary-color;
     border-radius: 5px;
     background-color:$bg-secondary-two ;
     color: $secondary-color;
    p {
      margin: 0;
      font-weight: 400;
      margin-left: 10px;
    }
    span {
      color: $secondary-color;
    }
   }
   