.form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 90vh;

    h4 {
     color: #fed830;
     font-weight: 600;
     font-size: 2rem;
     margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      max-width: 700px;
      box-shadow: #424344 0px 4px 15px;
      border: 2px solid #fed830;
      padding: 40px;
      border-radius: 10px;
      margin-bottom: 30px;
      background-color: #424344;
    }

    label {
      color: #fed830;
      margin-bottom: 10px;
      font-weight: 400;
    }

    input {
      margin-bottom: 40px;
      width: 250px;
      border: 1px #fed830 dashed;
      color: grey;
      border-radius: 5px;
      padding: 10px;
      direction: ltr !important;
      font-size: 1rem;
      height: 40px;
      background-color: #2a2929;
      &:focus {
        border: 1px #304ffe solid;
        outline: none;
      }
    }

    button {
      border: none;
      color: rgb(3, 3, 3);
      background-color: #fed830;
      font-size: 1.2rem;
      font-weight: 400;
      border-radius: 5px;
      transition: all ease-in 0.1s;
      cursor: pointer;
      padding: 8px 0;
      box-shadow: 3px 3px 6px #b79811, -3px -3px 6px #2a2929;
      border-radius: 20px;
      &:hover {
        transform: scale(1.02);
      }
    }
   
    p {
      color: grey;
      font-size: 1.1rem;
    }

    a {
      color: #fed830;
      margin-right: 10px;
      border-bottom: 3px solid #fed830;
    }

   }
   
   

   