@import "../../app//variables.module.scss";
.container {
     border: 2px solid $bg-secondary;
     padding: 20px;
     margin-bottom: 40px;
     border-radius: 8px;

     h3 {
      font-size: 1.2rem;
      font-weight: 400;
      color: $secondary-color;
      margin-bottom: 20px;
    }

    p {
      text-align: justify;
      margin-bottom: 20px;
    }

    .properties {
      display: flex;
      margin-bottom: 20px;
      span {
       background-color: $bg-secondary-three;
       color: $primary-color;
       padding: 5px 10px;
       margin-left: 15px;
       border-radius: 5px;
     }
    }

    .buttons {
      display: flex;
        button{
          background-color: $btn-secondary-color-one-two;
          border: none;
          padding: 5px 15px;
          font-size: 1rem;
          font-weight: 400;
          color: $primary-color;
          border-radius: 5px;
          cursor: pointer;
          margin-top: 20px;
          transition: all ease-in 0.2s;
          display: flex;
          align-items: center;

          &:hover {
            color: $text-hover-color;
          }
          &:last-child{
            background-color: $bg-primary !important;
            color: #cc1b1b;
            border: 2px solid $gray-color;
            margin-right: 10px;
          }

          svg{
            margin-right: 10px;
            font-size: 25px;
          }
      }
      
    }
   }

   @media (max-width : 1200px) {
    
   }

   @media (max-width : 900px) {
    .container {
      .properties{
        flex-direction: column;
        span{
          margin: 10px 0;
        }
      }

      .buttons{
          justify-content: flex-end;
      }
    }
   }

   @media (max-width : 600px) {
    .container{
      .buttons{
        justify-content: flex-end;
      }
    }
   }
  
  
  