.container {
  width: 250px;
  border: 2px solid #7e5e03db;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #424344;
   }
   
   .icon svg {
     font-size: 1.8rem;
     background-color: #efc50758;
     color: #fed830;
     padding: 3px;
     border-radius: 5px;
   }
   
   .title {
     font-weight: 400;
     margin: 10px 0;
     color: #d6dddb;
   }
   
   .location {
     display: flex;
     color: rgb(232, 232, 232);
     font-size: 0.9rem;
   }
   
   .location svg {
     margin-left: 5px;
     font-size: 1rem;
     color: rgb(238, 238, 238);
   }
   
   .container span {
     color: grey;
     display: block;
     font-size: 0.9rem;
     font-weight: 400;
     margin-top: 10px;
   }
   
   .container a {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 20px;
     font-size: 0.95rem;
     font-weight: 400;
     color: #fed830;
   }
   
   .container a svg {
     font-size: 1.5rem;
   }