  @import "../../app/variables.module.scss";
  .container {
    border: 2px solid $secondary-color;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color:$bg-secondary-six;
    overflow: hidden;
    width: 100%;
    box-shadow: -5px 8px 8px $box-shadow-color-two;

    span {
      color: $secondary-color-two;
      display: block;
      font-size: 0.9rem;
      font-weight: 400;
      margin-top: 10px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      font-size: 0.95rem;
      font-weight: 400;
      color: $text-secondary-color;

      svg {
        font-size: 1.5rem;
      }
    }
  }

   
   .icon svg {
     font-size: 1.8rem;
     background-color: $bg-secondary;
     color: $primary-color;
     padding: 3px;
     border-radius: 5px;
   }
   
   .title {
     font-weight: 600;
     margin: 10px 0;
     color: $secondary-color-two;
     height: 28px;
     overflow: hidden;
   }

   .img{
    margin: 10px auto;
    width: -moz-fit-content;
    width: fit-content;
    height: 140px;
    overflow: hidden;
    border-radius: 8px;
    // border: 1px solid $secondary-color;
    box-shadow: 0px 0px 5px $secondary-color;
   }
   
   .location , .adType {
     display: flex;
     color: $secondary-color-two;
     font-weight: 400;
     font-size: 0.9rem;
     height: 26px;
     overflow: hidden;
     margin-top: 25px;
      svg {
          margin-left: 5px;
          font-size: 1rem;
          color: $bg-secondary;
      }
   }

   .adType{
      span{
        margin: 0 1px;
      }
   }
   
  
   
   