@import "../../app/variables.module.scss";
.container {
     margin-bottom: 60px;
     p {
   
      background: $bg-secondary;
      color: $primary-color;
      width: 110px;
      padding: 8px 10px;
      border-radius: 8px;
      margin-bottom: 25px;
      text-align: center;
    }
    input {
      width: 110px;
      border: 1px $secondary-color dashed;
      color: $secondary-color;
      border-radius: 5px;
      padding: 10px;
      font-size: 1rem;
      height: 30px;
      margin-left: 10px;
      text-align: center;
      background-color: $bg-primary;
    }
  }
   
  @media (max-width : 900px) {
    .container{
      p{
        width: 100%;
      }
      input{
        margin: 10px auto;
      }
    }
   
  }
 