@import "../../app//variables.module.scss";
.container {
    display: flex;
    flex-direction: column;
    border: 2px solid $primary-color;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: $bg-secondary-two;
    padding: 10px;
    width: 30%;
  }
   
   .main {
     display: flex;
     align-items: end;
     justify-content: space-between;
     padding: 10px;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        background-color: $bg-secondary;
        cursor: pointer;
        height: 40px;
        border-radius: 8px;
        font-size: 1rem;
        border: 1px solid $secondary-color;
        color: $primary-color;
        
        div{
          margin: 0 !important;
        }
        &:last-child {
          border: 1px solid #db0505;
          color: #db0505;
          background-color: $bg-secondary-four;
        }
      }

      svg {
        font-size: 1.1rem;
        margin-right: 10px;
      }
   }
   