@import "../../app/variables.module.scss";
.container {

    p {
      font-size: 1.1rem;
      margin-bottom: 5px;
      color: $primary-color;
      background: $bg-secondary;
      width: 110px;
      padding: 8px 10px;
      border-radius: 8px;
      margin-bottom: 25px;
      text-align: center;
    }

   .main {
     display: flex;
     div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: $primary-color;
      margin-left: 30px;
      width: 75px;
      padding: 3px 5px;
      border-radius: 5px;
      cursor: pointer;
      background-color: $bg-secondary;
      font-weight: 800;
      font-size: 1.1rem;
     }
   } 

  .categoryError{
    margin-top: 20px;
    color: $text-secondary-color;
    font-size: 14px;
  }

  .categoryType{
      margin-top: 20px;
      color: $text-secondary-color;
      font-size: 14px;
    
      span{
        margin: 0 5px;
        color: $text-secondary-color-two;
      } 
      
  }
   
}

@media (max-width : 900px) {
  .container{

    .main{
     justify-content: center;
     div{
      margin: 0 30px;
     }
    }

    p{
      width: 95%;
      height: 40px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
  }
}