@import "../../app/variables.module.scss";
.container {
     margin-bottom: 40px;
     p {
      font-size: 1.1rem;
      margin-bottom: 5px;
      color: $secondary-color;
    }
   }
   
   
   .main {
     display: flex;
     div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: $primary-color;
      margin-left: 30px;
      width: 75px;
      padding: 3px 5px;
      border-radius: 5px;
      cursor: pointer;
      background-color: $bg-secondary;
      font-weight: 800;
      font-size: 1.1rem;
     }
   }
   
