@import "../../app/variables.module.scss";

.container {
     display: flex;
     flex-direction: column;
     width: 100%;
    
     p {
      display: flex;
      font-size: 1.2rem;
      font-weight: 400;
      color: $primary-color;
      margin-bottom: 10px;
      align-items: center;

      svg {
        margin-left: 10px;
        font-size: 2.0rem;
        color: $secondary-color;
        background-color: $bg-primary;
        padding: 6px 6px;
        border-radius: 6px;
       }

    }

    div{
      display: flex;
      flex-direction: column;
      a {
      color: $secondary-color;
      margin: 7px 10px;
      padding: 5px 10px;
      background-color: $bg-secondary-four;
      border-radius: 8px;
      font-weight: 500;
      &:hover{
        color: $text-hover-color;
      }
    }
    }
      
   }

   @media (max-width : 900px) {
    .container{
      div{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        a{
          width: 20%;
          text-align: center;
        }
      }
    }
   }

   @media (max-width : 600px) {
    .container{
      div{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        a{
          width: 20%;
          text-align: center;
        }
      }
    }
   }
   