@import "../../app/variables.module.scss";

.container {
     display: flex;
     flex-direction: column;
     width: 100%;
    
     p {
      display: flex;
      font-size: 1.2rem;
      font-weight: 400;
      color: $primary-color;
      margin-bottom: 10px;
      align-items: center;

      svg {
        margin-left: 10px;
        font-size: 2.0rem;
        color: $secondary-color;
        background-color: $bg-primary;
        padding: 6px 6px;
        border-radius: 6px;
       }

    }

    .category{
      display: flex;
      flex-direction: column;
      .categoryRight , .categoryLeft{
        display: flex;
        flex-direction: column;
          a {
          color: $secondary-color;
          margin: 7px 10px;
          padding: 5px 10px;
          background-color: $bg-secondary-four;
          border-radius: 8px;
          font-weight: 500;
          &:hover{
            color: $text-hover-color;
          }
        }
      }

      .categoryLeft{
       
        .title{
          display: flex;
          flex-direction: row;
          margin: 10px 0px;
          svg{
            color: $primary-color;
            font-size: 1.6rem;
          }
           h3{
            color: $primary-color;
            margin-right: 5px;
            font-weight: 400;
           }
        }

        div{
          display: flex;
          flex-direction: column;
        }
      }
  

    }
      
   }

   @media (max-width : 900px) {
    .container{
      .category{
        display: flex;
        justify-content: space-between;
        .categoryRight{
          display: flex;
          flex-direction: row;
          a{
            width: 20%;
            text-align: center;
          }
        }

        .categoryLeft{
          display: flex;
          flex-direction: column;
          h3{
            font-weight: 500;
          }
          div{
            display: flex;
            flex-direction: row;
            a{
              width: 20%;
              text-align: center;
            }
          }
        }
      }
    }
   }

   @media (max-width : 600px) {
    .container{
      div{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        a{
          width: 20%;
          text-align: center;
        }
      }
    }
   }
   