@import "../../app/variables.module.scss";
.container{

  .input{
    display: flex;
    flex-direction: column;
    input,textarea {
          margin-bottom: 20px;
          width: 90%;
          border: 1px $secondary-color dashed;
          color: $secondary-color;
          border-radius: 5px;
          padding: 10px;
          font-size: 1rem;
          height: 40px;
          background-color: $bg-primary;
          &::placeholder{
            color: $text-secondary-color;
            font-size: 13px;
          }
    }
    textarea{
      height: 80px;
    }
    input:focus,textarea:focus {
      border: 1px $secondary-color solid;
      outline: none;
    }

    .priceletters{
      color: $secondary-color;
      font-size: 12px;
      height: 30px;
      overflow-y: auto;
    }

    .error{
      height: 20px;
      margin-bottom: 10px;
      color: $text-error;
      font-size: 14px;
    }
  }
 
  textarea {
    height: 100px;
  }

  p {
    font-size: 1.1rem;
    background: $bg-secondary;
    color: $primary-color;
    width: 110px;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 25px;
    text-align: center;
  }

} 


@media (max-width: 900px) {
  .container{

    .input{
      display: flex;
      flex-direction: column;
      input,textarea {
        margin: 20px auto;
        width: 95% !important;
        border: 1px $secondary-color dashed;
        color: $secondary-color;
        border-radius: 5px;
        padding: 10px;
        font-size: 1rem;
        height: 40px;
        background-color: $bg-primary;
        &::placeholder{
          color: $text-secondary-color;
          font-size: 13px;
        }
      }

      .error{
        height: 20px;
        margin-bottom: 10px;
        color: $text-error;
        font-size: 14px;
        padding: 0 8px 
      }
    }

    p {
      font-size: 1.1rem;
      background: $bg-secondary;
      color: $primary-color;
      width: 95% !important;
      padding: 5px 10px;
      border-radius: 8px;
      margin: 20px auto;
      text-align: center;
    }
  }
}

@media (max-width : 600px) {
  
}


