@import "../../app/variables.module.scss";
.container{

  .input{
    display: flex;
    flex-direction: column;
    input,textarea {
          margin-bottom: 20px;
          width: 300px;
          border: 1px $secondary-color dashed;
          color: $secondary-color;
          border-radius: 5px;
          padding: 10px;
          font-size: 1rem;
          height: 40px;
          background-color: $bg-primary;
          &::placeholder{
            color: $text-secondary-color;
            font-size: 13px;
          }
    }
    textarea{
      height: 80px;
    }
    input:focus,textarea:focus {
      border: 1px $secondary-color solid;
      outline: none;
    }

    .priceletters{
      color: $secondary-color;
      font-size: 12px;
      height: 30px;
      overflow-y: auto;
    }

    .error{
      height: 20px;
      margin-bottom: 10px;
      color: $text-error;
      font-size: 14px;
    }
  }
 
  textarea {
    height: 100px;
  }

  p {
    font-size: 1.1rem;
    background: $bg-secondary;
    color: $primary-color;
    width: 110px;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 25px;
    text-align: center;
  }

} 
