@import "../../app/variables.module.scss";
.container{
    input,textarea {
      margin-bottom: 40px;
      width: 300px;
      border: 1px $secondary-color dashed;
      color: $secondary-color;
      border-radius: 5px;
      padding: 10px;
      font-size: 1rem;
      height: 40px;
      background-color: $bg-primary;
  }

  input:focus,textarea:focus {
    border: 1px $secondary-color solid;
    outline: none;
  }

  textarea {
    height: 100px;
  }

  p {
    font-size: 1.1rem;
    background: $bg-secondary;
    color: $primary-color;
    width: 110px;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 25px;
    text-align: center;
  }

} 
